[submodule "external/projf-explore"]
	path = external/projf-explore
	url = git@github.com:dcliche/projf-explore.git
[submodule "external/nanoasm"]
	path = external/nanoasm
	url = https://github.com/sehugg/nanoasm.git
